# APC 523 HW1 Problem 2

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
from math import factorial

In [3]:
%matplotlib inline

## Function definitions

In [4]:
def truncate_dd(x, n=5):
    '''
    Truncates the given floating-point value to n decimal digits.
    '''
    return float('{:.5g}'.format(x))

def mult_trunc(x, y, n=5):
    '''
    Multiply two numbers with truncation.
    '''
    return truncate_dd(x * y, n)

def div_trunc(x, y, n=5):
    '''
    Divide two numbers with truncation.
    '''
    return truncate_dd(x / y, n)

def add_trunc(x, y, n=5):
    '''
    Add two numbers with truncation.
    '''
    return truncate_dd(x + y, n)

def pow_trunc(x, p, n=5):
    '''
    Computes x^p by repeated multiplication with truncation.
    '''
    if p < 0:
        raise NotImplementedError
    elif p == 0:
        return 1
    elif p == 1:
        return truncate_dd(x, n)
    base = x
    for i in range(p-1):
        x = mult_trunc(base, x, n)
    return x

def factorial_trunc(x, n=5):
    '''
    Computes x! by multiplying in ascending order, with truncation.
    '''
    result = 1.0
    for i in range(2, x+1):
        result = mult_trunc(result, i, n)
    return result

In [5]:
def exp_trunc(x, terms=30, n=5):
    '''
    Compute e^x by its power series up to a given number of terms, truncating at each operation.
    '''
    result = 0.0
    for i in range(terms+1):
        result = add_trunc(result, div_trunc(pow_trunc(x, i, n), factorial_trunc(i, n), n), n)
    return result

## Compute partial sums, left to right

In [6]:
for i in range(30):
    print("k = {0:d}, S_k = {1:f}".format(i, exp_trunc(5.5, i)))

k = 0, S_k = 1.000000
k = 1, S_k = 6.500000
k = 2, S_k = 21.625000
k = 3, S_k = 49.355000
k = 4, S_k = 87.484000
k = 5, S_k = 129.430000
k = 6, S_k = 167.880000
k = 7, S_k = 198.090000
k = 8, S_k = 218.860000
k = 9, S_k = 231.550000
k = 10, S_k = 238.530000
k = 11, S_k = 242.020000
k = 12, S_k = 243.620000
k = 13, S_k = 244.300000
k = 14, S_k = 244.570000
k = 15, S_k = 244.670000
k = 16, S_k = 244.700000
k = 17, S_k = 244.710000
k = 18, S_k = 244.710000
k = 19, S_k = 244.710000
k = 20, S_k = 244.710000
k = 21, S_k = 244.710000
k = 22, S_k = 244.710000
k = 23, S_k = 244.710000
k = 24, S_k = 244.710000
k = 25, S_k = 244.710000
k = 26, S_k = 244.710000
k = 27, S_k = 244.710000
k = 28, S_k = 244.710000
k = 29, S_k = 244.710000

In [7]:
np.exp(5.5)

244.69193226422038

In [8]:
(244.71 - np.exp(5.5))/np.exp(5.5)

7.383870654188337e-05

## Compute partial sums, right to left

In [9]:
def exp_trunc_back(x, terms=30, n=5):
    '''
    Compute e^x by its power series up to a given number of terms, truncating at each operation.
    '''
    result = 0.0
    for i in range(terms, 0, -1):
        result = add_trunc(result, div_trunc(pow_trunc(x, i, n), factorial_trunc(i, n), n), n)
    result = add_trunc(result, 1.0)
    return result

In [10]:
for i in range(30):
    print("k = {0:d}, S_k = {1:f}".format(i, exp_trunc_back(5.5, i)))

k = 0, S_k = 1.000000
k = 1, S_k = 6.500000
k = 2, S_k = 21.625000
k = 3, S_k = 49.355000
k = 4, S_k = 87.484000
k = 5, S_k = 129.420000
k = 6, S_k = 167.880000
k = 7, S_k = 198.090000
k = 8, S_k = 218.850000
k = 9, S_k = 231.540000
k = 10, S_k = 238.510000
k = 11, S_k = 242.010000
k = 12, S_k = 243.620000
k = 13, S_k = 244.280000
k = 14, S_k = 244.560000
k = 15, S_k = 244.660000
k = 16, S_k = 244.690000
k = 17, S_k = 244.690000
k = 18, S_k = 244.690000
k = 19, S_k = 244.690000
k = 20, S_k = 244.690000
k = 21, S_k = 244.710000
k = 22, S_k = 244.710000
k = 23, S_k = 244.710000
k = 24, S_k = 244.710000
k = 25, S_k = 244.710000
k = 26, S_k = 244.710000
k = 27, S_k = 244.710000
k = 28, S_k = 244.710000
k = 29, S_k = 244.710000

In [11]:
(244.69 - np.exp(5.5))/np.exp(5.5)

-7.896722227439787e-06

## Compute negative exponential

In [12]:
np.exp(-5.5)

0.004086771438464067

In [13]:
for i in range(30):
    print("k = {0:d}, S_k = {1:.7f}".format(i, exp_trunc(-5.5, i)))

k = 0, S_k = 1.0000000
k = 1, S_k = -4.5000000
k = 2, S_k = 10.6250000
k = 3, S_k = -17.1050000
k = 4, S_k = 21.0240000
k = 5, S_k = -20.9180000
k = 6, S_k = 17.5290000
k = 7, S_k = -12.6790000
k = 8, S_k = 8.0890000
k = 9, S_k = -4.6030000
k = 10, S_k = 2.3775000
k = 11, S_k = -1.1127000
k = 12, S_k = 0.4870000
k = 13, S_k = -0.1897900
k = 14, S_k = 0.0760900
k = 15, S_k = -0.0213940
k = 16, S_k = 0.0121160
k = 17, S_k = 0.0012740
k = 18, S_k = 0.0045868
k = 19, S_k = 0.0036278
k = 20, S_k = 0.0038915
k = 21, S_k = 0.0038224
k = 22, S_k = 0.0038397
k = 23, S_k = 0.0038356
k = 24, S_k = 0.0038365
k = 25, S_k = 0.0038363
k = 26, S_k = 0.0038363
k = 27, S_k = 0.0038363
k = 28, S_k = 0.0038363
k = 29, S_k = 0.0038363

In [14]:
(0.0038363 - np.exp(-5.5))/np.exp(-5.5)

-0.06128834025477125

In [15]:
for i in range(30):
    print("k = {0:d}, S_k = {1:.7f}".format(i, exp_trunc_back(-5.5, i)))

k = 0, S_k = 1.0000000
k = 1, S_k = -4.5000000
k = 2, S_k = 10.6250000
k = 3, S_k = -17.1050000
k = 4, S_k = 21.0240000
k = 5, S_k = -20.9180000
k = 6, S_k = 17.5290000
k = 7, S_k = -12.6790000
k = 8, S_k = 8.0890000
k = 9, S_k = -4.6030000
k = 10, S_k = 2.3770000
k = 11, S_k = -1.1130000
k = 12, S_k = 0.4870000
k = 13, S_k = -0.1900000
k = 14, S_k = 0.0760000
k = 15, S_k = -0.0210000
k = 16, S_k = 0.0120000
k = 17, S_k = 0.0010000
k = 18, S_k = 0.0050000
k = 19, S_k = 0.0040000
k = 20, S_k = 0.0040000
k = 21, S_k = 0.0040000
k = 22, S_k = 0.0040000
k = 23, S_k = 0.0040000
k = 24, S_k = 0.0040000
k = 25, S_k = 0.0040000
k = 26, S_k = 0.0040000
k = 27, S_k = 0.0040000
k = 28, S_k = 0.0040000
k = 29, S_k = 0.0040000

In [118]:
(0.0040000 - np.exp(-5.5))/np.exp(-5.5)

-0.021232270943118334

## Compute by alternating sums

In [16]:
def exp_trunc_alt(x, terms=30, n=5, verbose=True):
    '''
    Compute e^x by its power series up to a given number of terms, truncating at each operation.
    Adds odd and even terms separately.
    '''
    evens = 0.0
    odds = 0.0
    sign = np.sign(x)
    x = abs(x)
    for i in range(0, terms+1, 2):
        evens = add_trunc(evens, div_trunc(pow_trunc(x, i, n), factorial(i), n), n)
    for i in range(1, terms+1, 2):
        odds = add_trunc(odds, div_trunc(pow_trunc(x, i, n), factorial(i), n), n)
    if verbose:
        print('odds = {0:.5g}, evens = {1:.5g}'.format(odds, evens))
    result = add_trunc(evens, sign * odds, n)
    return result

In [17]:
exp_trunc_alt(-5.5, 30)

odds = 122.35, evens = 122.35

0.0

In [18]:
for i in range(20):
    print("k = {0:d}, S_k = {1:.7f}".format(i, exp_trunc_alt(-5.5, i)))

odds = 0, evens = 1
k = 0, S_k = 1.0000000
odds = 5.5, evens = 1
k = 1, S_k = -4.5000000
odds = 5.5, evens = 16.125
k = 2, S_k = 10.6250000
odds = 33.23, evens = 16.125
k = 3, S_k = -17.1050000
odds = 33.23, evens = 54.254
k = 4, S_k = 21.0240000
odds = 75.172, evens = 54.254
k = 5, S_k = -20.9180000
odds = 75.172, evens = 92.701
k = 6, S_k = 17.5290000
odds = 105.38, evens = 92.701
k = 7, S_k = -12.6790000
odds = 105.38, evens = 113.47
k = 8, S_k = 8.0900000
odds = 118.07, evens = 113.47
k = 9, S_k = -4.6000000
odds = 118.07, evens = 120.45
k = 10, S_k = 2.3800000
odds = 121.56, evens = 120.45
k = 11, S_k = -1.1100000
odds = 121.56, evens = 122.05
k = 12, S_k = 0.4900000
odds = 122.24, evens = 122.05
k = 13, S_k = -0.1900000
odds = 122.24, evens = 122.32
k = 14, S_k = 0.0800000
odds = 122.34, evens = 122.32
k = 15, S_k = -0.0200000
odds = 122.34, evens = 122.35
k = 16, S_k = 0.0100000
odds = 122.35, evens = 122.35
k = 17, S_k = 0.0000000
odds = 122.35, evens = 122.35
k = 18, S_k = 0.0000000
odds = 122.35, evens = 122.35
k = 19, S_k = 0.0000000

In [19]:
def exp_trunc_alt_back(x, terms=30, n=5, verbose=True):
    '''
    Compute e^x by its power series up to a given number of terms, truncating at each operation.
    '''
    evens = 0.0
    odds = 0.0
    sign = np.sign(x)
    x = abs(x)
    if (terms % 2) == 0:        
        for i in range(terms, -1, -2):
            evens = add_trunc(evens, div_trunc(pow_trunc(x, i, n), factorial(i), n), n)
        for i in range(terms-1, -1, -2):
            odds = add_trunc(odds, div_trunc(pow_trunc(x, i, n), factorial(i), n), n)
    else:
        for i in range(terms, -1, -2):
            odds = add_trunc(odds, div_trunc(pow_trunc(x, i, n), factorial(i), n), n)
        for i in range(terms-1, -1, -2):
            evens = add_trunc(evens, div_trunc(pow_trunc(x, i, n), factorial(i), n), n)

    if verbose:
        print('odds = {0:.5g}, evens = {1:.5g}'.format(odds, evens))
    result = add_trunc(odds, sign*evens, n)

    return result

In [20]:
exp_trunc_alt_back(-5.5, 30)

odds = 122.35, evens = 122.36

-0.01

In [156]:
for i in range(25):
    print("k = {0:d}, S_k = {1:.7f}".format(i, exp_trunc_alt_back(-5.5, i)))

odds = 0, evens = 1
k = 0, S_k = -1.0000000
odds = 5.5, evens = 1
k = 1, S_k = 4.5000000
odds = 5.5, evens = 16.125
k = 2, S_k = -10.6250000
odds = 33.23, evens = 16.125
k = 3, S_k = 17.1050000
odds = 33.23, evens = 54.254
k = 4, S_k = -21.0240000
odds = 75.172, evens = 54.254
k = 5, S_k = 20.9180000
odds = 75.172, evens = 92.701
k = 6, S_k = -17.5290000
odds = 105.38, evens = 92.701
k = 7, S_k = 12.6790000
odds = 105.38, evens = 113.47
k = 8, S_k = -8.0900000
odds = 118.07, evens = 113.47
k = 9, S_k = 4.6000000
odds = 118.07, evens = 120.44
k = 10, S_k = -2.3700000
odds = 121.56, evens = 120.44
k = 11, S_k = 1.1200000
odds = 121.56, evens = 122.05
k = 12, S_k = -0.4900000
odds = 122.24, evens = 122.05
k = 13, S_k = 0.1900000
odds = 122.24, evens = 122.31
k = 14, S_k = -0.0700000
odds = 122.34, evens = 122.31
k = 15, S_k = 0.0300000
odds = 122.34, evens = 122.34
k = 16, S_k = 0.0000000
odds = 122.35, evens = 122.34
k = 17, S_k = 0.0100000
odds = 122.35, evens = 122.36
k = 18, S_k = -0.0100000
odds = 122.35, evens = 122.36
k = 19, S_k = -0.0100000
odds = 122.35, evens = 122.36
k = 20, S_k = -0.0100000
odds = 122.35, evens = 122.36
k = 21, S_k = -0.0100000
odds = 122.35, evens = 122.36
k = 22, S_k = -0.0100000
odds = 122.35, evens = 122.36
k = 23, S_k = -0.0100000
odds = 122.35, evens = 122.36
k = 24, S_k = -0.0100000

In [158]:
div_trunc(1, 244.69)

0.0040868

## Compute by taking reciprocal of positive exponential

In [162]:
for i in range(30):
    print("k = {0:d}, S_k = {1:.7f}".format(i, div_trunc(1, exp_trunc_back(5.5, i))))

k = 0, S_k = 1.0000000
k = 1, S_k = 0.1538500
k = 2, S_k = 0.0462430
k = 3, S_k = 0.0202610
k = 4, S_k = 0.0114310
k = 5, S_k = 0.0077268
k = 6, S_k = 0.0059566
k = 7, S_k = 0.0050482
k = 8, S_k = 0.0045693
k = 9, S_k = 0.0043189
k = 10, S_k = 0.0041927
k = 11, S_k = 0.0041321
k = 12, S_k = 0.0041048
k = 13, S_k = 0.0040937
k = 14, S_k = 0.0040890
k = 15, S_k = 0.0040873
k = 16, S_k = 0.0040868
k = 17, S_k = 0.0040868
k = 18, S_k = 0.0040868
k = 19, S_k = 0.0040868
k = 20, S_k = 0.0040865
k = 21, S_k = 0.0040865
k = 22, S_k = 0.0040865
k = 23, S_k = 0.0040865
k = 24, S_k = 0.0040865
k = 25, S_k = 0.0040865
k = 26, S_k = 0.0040865
k = 27, S_k = 0.0040865
k = 28, S_k = 0.0040865
k = 29, S_k = 0.0040865

In [163]:
(0.0040868 - np.exp(-5.5))/np.exp(-5.5)

6.988777415931331e-06